.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.35), rgba(0,0,0,0.35)), url("images/Ildolomiti1.jpg");
}

.u-section-1 .u-sheet-1 {
  min-height: 383px;
}

.u-section-1 .u-group-1 {
  width: 330px;
  min-height: 200px;
  animation-duration: 500ms;
  margin: 60px auto 60px 95px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  text-transform: uppercase;
  animation-duration: 1000ms;
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-1 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 326px;
  }

  .u-section-1 .u-group-1 {
    width: 249px;
    min-height: 151px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 186px;
  }

  .u-section-1 .u-group-1 {
    width: 208px;
    min-height: 126px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 13px;
  }
}.u-section-2 {
  min-height: 822px;
}

.u-section-2 .u-sheet-1 {
  min-height: 880px;
}

.u-section-2 .u-table-1 {
  margin: 19px 0 60px;
}

.u-block-0fc5-10 {
  height: 46px;
}

.u-block-0fc5-25 {
  height: 46px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-table-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1166px;
  }

  .u-section-2 .u-table-1 {
    margin-top: 31px;
    margin-bottom: 10px;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.35), rgba(0,0,0,0.35)), url("images/Ildolomiti1.jpg");
}

.u-section-3 .u-sheet-1 {
  min-height: 383px;
}

.u-section-3 .u-group-1 {
  width: 395px;
  min-height: 222px;
  animation-duration: 500ms;
  margin: 81px auto 81px 95px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  text-transform: uppercase;
  animation-duration: 1000ms;
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-3 {
    background-position: 50% 50%;
  }

  .u-section-3 .u-sheet-1 {
    min-height: 326px;
  }

  .u-section-3 .u-group-1 {
    width: 249px;
    min-height: 151px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 228px;
  }

  .u-section-3 .u-group-1 {
    min-height: 140px;
    margin-left: 12px;
  }
}.u-section-4 {
  min-height: 822px;
}

.u-section-4 .u-sheet-1 {
  min-height: 880px;
}

.u-section-4 .u-table-1 {
  margin: 19px 0 60px;
}

.u-block-fe66-10 {
  height: 46px;
}

.u-block-fe66-25 {
  height: 46px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-table-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 631px;
  }

  .u-section-4 .u-table-1 {
    margin-top: 31px;
    margin-bottom: 15px;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.35), rgba(0,0,0,0.35)), url("images/Ildolomiti1.jpg");
}

.u-section-5 .u-sheet-1 {
  min-height: 383px;
}

.u-section-5 .u-group-1 {
  width: 330px;
  min-height: 200px;
  animation-duration: 500ms;
  margin: 60px auto 60px 95px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  text-transform: uppercase;
  animation-duration: 1000ms;
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-5 {
    background-position: 50% 50%;
  }

  .u-section-5 .u-sheet-1 {
    min-height: 326px;
  }

  .u-section-5 .u-group-1 {
    width: 249px;
    min-height: 151px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 228px;
  }

  .u-section-5 .u-group-1 {
    width: 187px;
    min-height: 106px;
    margin-left: 12px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-top: 25px;
    padding-bottom: 25px;
  }
}.u-section-6 {
  min-height: 822px;
}

.u-section-6 .u-sheet-1 {
  min-height: 880px;
}

.u-section-6 .u-table-1 {
  margin: 19px 0 60px;
}

.u-block-06af-10 {
  height: 46px;
}

.u-block-06af-25 {
  height: 46px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-table-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-table-1 {
    margin-top: 31px;
    margin-right: initial;
    margin-left: initial;
  }
}